[HASMULTIPLEPAGES]
<table cellSpacing=1 cellPadding=0 width="100%" align=center border=0 ID="Table1"><tr><td class=articleTable>
<table cellSpacing=1 cellPadding=3 width="100%" border=0 ID="Table2">
    <tr align=left>
	<td class=articleFooterCell colspan="3">
		<span class="NormalBold">Paging - Page: [CURRENTPAGE] of [PAGECOUNT]</span>
	</td>
</tr>
<tr align="left">
	<td class="articleIconCell" align="center" width="16"><img height=5 alt="" src="~/images/spacer.gif" width="16" border=0></td>
	<td class="articleContentCell" align="left" colspan="2">
		[LINKPREVIOUS] | [LINKNEXT]
	</td>
</tr>
</table>
</TD></TR></TABLE>
[/HASMULTIPLEPAGES]
