<table cellSpacing="1" cellPadding="0" width="100%" align="center" border="0" ID="Table1">
	<tr>
		<td class="articleTable">
			<table cellSpacing="1" cellPadding="3" width="100%" border="0" ID="Table2">
				<tr align="left">
					<td class="articleTopCell" align="left"><span class="NormalBold">[PUBLISHSTARTDATE]</span></td>
				</tr>
				<tr>
					<td class="articleContentCell">
						<table width="100%" ID="Table3">
							<tr>
								<td>[IMAGE]</td>
								<td class="Normal" align="left" width="100%">
									[EDIT] <a href='[ARTICLELINK]' class="articleTitle">[TITLE]</a><br>
									By [AUTHOR] @ [PUBLISHSTARTTIME] :: [VIEWCOUNT] Views [HASCOMMENTSENABLED]:: <a href="[COMMENTLINK]">
										[COMMENTCOUNT] Comments</a> [/HASCOMMENTSENABLED][HASRATINGSENABLED]  :: [RATING][/HASRATINGSENABLED][HASCATEGORIES] :: [CATEGORIES][/HASCATEGORIES]
								</td>
								<td align="right" valign="bottom">[PRINT]&nbsp;</td>
							</tr>
							<tr>
								<td colspan="3">
									<table cellSpacing="1" cellPadding="0" width="100%" align="center" border="0" ID="Table4">
										<tr>
											<td class="articleTable">
												<table cellSpacing="1" cellPadding="3" width="100%" border="0" ID="Table5">
													<tr>
														<td class="articleTextCell"><span class="Normal">[PAGETEXT]</span></td>
													</tr>
													[HASLINK]
													<tr>
														<td align="left" class="articleContentCell"><a href='[LINK]' class="CommandButton" target='[LINKTARGET]'>Read 
																More..</a></td>
													</tr>
													[/HASLINK]
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
