<div class="Normal" align="left">
	[ISCOMMENT][COMMENT][/ISCOMMENT] [ISTRACKBACK] Comments from the following blog 
	entry: <a href="[TRACKBACKURL]">[TRACKBACKTITLE]</a>, located at: <a href="[TRACKBACKURL]">
		[TRACKBACKURL]</a> [/ISTRACKBACK] [ISPINGBACK] Comments from the following 
	blog entry: <a href="[PINGBACKURL]">[PINGBACKURL]</a> [/ISPINGBACK]
</div>
<p class="postfoot">
	posted @ [CREATEDATE] [CREATETIME] [ISCOMMENT]by [AUTHOR][/ISCOMMENT] 
	[ISTRACKBACK]by [TRACKBACKBLOGNAME][/ISTRACKBACK] [DELETE]
</p>
<hr>
