[EDIT]
[ISCOMMENT]<span class="SubHead">Comment By [AUTHORFULLNAME]</span>[/ISCOMMENT]
[ISTRACKBACK]<span class="SubHead">Comment By [TRACKBACKBLOGNAME]</span>[/ISTRACKBACK]
- <a href="javascript:void(0)" align="right" onclick="ILCArticleToggle('[COMMENTID]')" class="Normal">Read more...</a><br>
<div id='[COMMENTID]' style="DISPLAY: none" width="100%" class="Normal">
	<p>
		[ISCOMMENT][COMMENT][/ISCOMMENT]
		[ISTRACKBACK]
			Comments from the following blog entry: <a href="[TRACKBACKURL]">[TRACKBACKTITLE]</a>, located at: <a href="[TRACKBACKURL]">[TRACKBACKURL]</a>
		[/ISTRACKBACK]
		[ISPINGBACK]
			Comments from the following blog entry: <a href="[PINGBACKURL]">[PINGBACKURL]</a>
		[/ISPINGBACK]
	</p>
</div>