<p align="center" class="Normal">
	<a href="[CURRENTARTICLESLINK]" class="MenuTop[ISSELECTEDCURRENTARTICLES]Selected[/ISSELECTEDCURRENTARTICLES]">[RESX:CurrentArticles]</a> 
	|
	<a href="[CATEGORIESLINK]" class="MenuTop[ISSELECTEDCATEGORIES]Selected[/ISSELECTEDCATEGORIES]">[RESX:Categories]</a> 
	|
	<a href="[SEARCHLINK]" class="MenuTop[ISSELECTEDSEARCH]Selected[/ISSELECTEDSEARCH]">[RESX:Search]</a> 
	[ISSYNDICATIONENABLED]
	|
	<a href="[SYNDICATIONLINK]" class="MenuTop[ISSELECTEDSYNDICATION]Selected[/ISSELECTEDSYNDICATION]">[RESX:Syndication]</a> 
	[/ISSYNDICATIONENABLED] 
	[ISSUBMITTER]
	<br>
	<a href="[MYARTICLESLINK]" class="MenuTop[ISSELECTEDMYARTICLES]Selected[/ISSELECTEDMYARTICLES]">[RESX:MyArticles]</a> 
	|
	<a href="[SUBMITARTICLELINK]" class="MenuTop[ISSELECTEDSUBMITARTICLE]Selected[/ISSELECTEDSUBMITARTICLE]">[RESX:CreateArticle]</a> 
	[/ISSUBMITTER]	
	[ISAPPROVER]
	|
	<a href="[APPROVEARTICLESLINK]" class="MenuTop[ISSELECTEDAPPROVEARTICLES]Selected[/ISSELECTEDAPPROVEARTICLES]">[RESX:ApproveArticles]</a> 
	[/ISAPPROVER]		
	[ISADMIN]
	|
	<a href="[ADMINLINK]" class="MenuTop[ISSELECTEDADMIN]Selected[/ISSELECTEDADMIN]">[RESX:AdminOptions]</a> 
	[/ISADMIN]	
</p>
