<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>24c39b40-1544-486f-8ab4-a6b455d8bc1c</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>24c39b40-1544-486f-8ab4-a6b455d8bc1c</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>24c39b40-1544-486f-8ab4-a6b455d8bc1c</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>0B3917D0E2FEDED24F1E7618263010DD</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
